<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="v4" parallel="false">
    <test name="DataProvidersTest">
        <classes>
            <class name="v4.DataProvidersTest"/>
        </classes>
    </test>
    
    <test name="TestNGListeners">
       <classes>
        <class name="v4.TestNGListeners"/>
       </classes>
    </test>
    
    <test name="ExtentReport">
       <classes>
        <class name="v4.ExtentReport"/>
       </classes>
    </test>
    
    
</suite>